@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
}


.video{

 position: relative;
    padding: 20px;
    padding-bottom: 20%;
}

.video > iframe {
position:absolute ;
top: 5%;
left: 11%;
width: 75%;
height: 75%;

}
#cabecalho{
    font-family: cursive;
    text-align: center;
    
}

#inicio {
    font-family: Arial, 'Helvetica', sans-serif;
    text-align: center;
    color: white
    
}

header{
    margin: 20px -55px 10px -55px;
    padding: 10px;
    background-image:linear-gradient(to top, rgb(249, 252, 97), rgb(0, 158, 40) );
}
nav> .link {
    padding: 0px 10px 0px 10px;
    background-color: rgb(0, 158, 40);
    color: antiquewhite;
    text-decoration: none;
    transition-duration: 0,5;
}

nav > .link:hover{
    background-color: rgba(13, 190, 13, 0.726);
}


body{
    background-color: rgba(93, 134, 32, 0.815);
    padding: 0px 55px;
    margin: 0px;
    padding-top: 0px;
}

main{
    background-color: white;
    text-align: center;
   border-radius: 20px;
   margin: auto;
   padding-top: 10px;
} 
article > p {
    font-family: Verdana, Tahoma, sans-serif, Times, serif;
}


p{
    margin: 15px 0px;
}